/*-------------------------------------------*/
/*                  Default                 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f1f1f1;
    height: 100vh;
    /*font-family: Montserrat, 'Mulish', 'Times New Roman';*/
}

/*@font-face {*/
/*    font-family: "Mulish";*/
/*    src: url("assets/Mulish-VariableFont_wght.ttf") format("truetype");*/
/*}*/


/*-------------------------------------------*/
/*                  Page Layout              */

/*Header*/
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: right;
}

/*Side Nav-Bar*/

/*1. The columns*/
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 93vh;
}

/* Left and right column */
.column.side {
    width: 15%;
    background-color: #840E35;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* Middle column */
.column.right {
    width: 85%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*2. The Nav Content*/
/* Style the pnav links */

.column.side img {
    padding-top: 20px;
    width: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column.side p {
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 17.22px;
    font-family: Montserrat;
    text-align: center;
}

.column.side a {
    display: block;
    color: #A4A6B3;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    /*font-family: Mulish;*/
    font-size: 16px;
}

.column.side i {
    padding-left: 0px;
    padding-right: 20px;
}

/* Change color on hover */
.column.side a:hover {
    background-color: #861A3F;
    color: #E59308;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}


/*-------------------------------------------*/
/*                  Page Content             */

.container {
    padding-top: 20px;
    /*height: 60%;*/
    background-color: #FFFFFF;
    /*border-radius: 10px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #DFE0EB;
    width: 100%;
    position: relative;
    height: auto;
}

.container-title {
    font-family: Montserrat, 'Mulish';
    font-weight: bold;
    font-size: 19px;
    padding-left: 25px;
}

.container-heading {
    width: 100%;
    height: 70px;
    padding-right: 25px;
}

.container-action-btns {
    position: absolute;
    right: 25px;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat, 'Mulish';
    font-weight: bold;
    font-size: 11px;
    background-color: #59011E;
    margin: 4px 2px;
    cursor: pointer;
}

.container-table {
    overflow: scroll;
    padding-right: 25px;
    padding-left: 25px;
    max-height: 458px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container-table table {
    border-collapse: collapse;
    width: 99%;

}

.container-table th {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Montserrat, 'Mulish';
    font-size: 14px;
    font-weight: bold;
    color: #9FA2B4;
}

.container-table td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Montserrat, 'Mulish';
    font-size: 14px;
    font-weight: lighter;
    color: #252733;
}

.edit-btn {
    width: 120px;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat, 'Mulish';
    font-weight: bold;
    font-size: 11px;
    background-color: #E59308;
    cursor: pointer;
}

.delete-btn {
    width: 120px;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat, 'Mulish';
    font-weight: bold;
    font-size: 11px;
    background-color: #FF0000;
    margin-left: 5px;
    cursor: pointer;
}


/*-------------------------------------------*/
/*     Login, Register & Forgot Password     */


.login-page {
    background-image: url('TtS-background.png');
    height: 100%;
    position: relative;
}

.login-content {
    width: 794px;
    height: 614px;
    background-color: #FFFFFF;
    margin: auto;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.login-header {
    text-align: center
}

.login-header h1 {
    font-size: 17.22px;
    font-weight: bold;
    font-family: Montserrat, 'Mulish';
}

.login-header h2 {
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.4px;
}

.login-img {
    padding-top: 30px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-inputbox {
    height: 48px;
    width: 265px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 13px;
}

.login-inputbox::placeholder {
    color: darkgray;
    padding-left: 0px;
}

.login-forgotpassword {
    text-decoration: none;
    display: block;
    color: #A4A6B3;
    padding-top: 7px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0.4px;
}

.forgotpasswordA {
    padding-right: 4px;
    text-align: right;
}

.forgotpasswordB {
    text-align: center;

}

.login-submit {
    height: 48px;
    width: 265px;
    background-color: #59011E;
    color: white;
    padding: 14px;
    margin: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
}

.login-form {
    width: 275px;
    margin: auto;
}

.login-column {
    width: 794px;
    height: 614px;
}

.left-login-column {
    float: left;
    width: 413.01px;
    height: 614px;
    padding-left: 0;
}

.left-login-column img {
    float: left;
    width: 396.16px;
    height: 100%;
    padding-left: 0;
    padding-top: 106.27px;

}


.reset-password-line {
    float: left;
    width: 1px;
    height: 549px;
    margin-top: 39px;
    background: #BDBDBD;
}

.right-login-column {
    float: left;
    width: 379.99px;
    height: 614px;
    padding-left: 23.99px;
    padding-top: 62px;
}

.reset-password-arrow img {
    width: 16px;
    height: 16px;
}

.right-login-column h1 {
    margin-top: 39px;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 0.15px;
    padding-left: 4.5px;
}

.right-login-column h2 {
    margin-top: 18px;
    font-size: 14px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 0.25px;
    padding-left: 5px;
}


.left-login-column2 {
    float: left;
    width: 413.01px;
    height: 614px;
    padding-left: 0;
}

.left-login-column2 img {
    float: left;
    width: 396.16px;
    height: 100%;
    padding-left: 0;
    padding-top: 156px;
    padding-bottom: 111px;

}


/*-------------------------------------------*/
/*         Office Assistant Overview         */

.header p1 {
    float: left;
    font-family: Montserrat, 'Mulish';;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #252733;
    margin-top: 37px;
    margin-left: 30px;
/
}

.header p2 {
    float: right;
    font-family: Montserrat, 'Mulish';;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #252733;
    margin-top: 44px;
    margin-right: 90px;
    clear-after: right;
}

.container-bulletin1 {
    clear: both;
}

.container-bulletin1,
.container-bulletin2,
.container-bulletin3,
.container-bulletin4 {
    float: left;
    margin-top: 57px;
    margin-left: 30px;
    height: 134px;
    width: 258px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
    position: relative;
    display: block;
}

.container-bulletin p1 {
    font-family: Montserrat, 'Mulish';;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #9FA2B4;
    margin-top: 24px;
    display: block;
}

.container-bulletin p2 {
    font-family: Montserrat, 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-top: 12px;
    text-align: center;
    letter-spacing: 1px;
    color: #252733;
    display: block;
}

/* Change color on hover */
.container-bulletin1:hover,
.container-bulletin2:hover,
.container-bulletin3:hover,
.container-bulletin4:hover {
    color: #E59308;
    border: 4px solid #E59308;
}

.container-bulletin p1:hover,
.container-bulletin p2:hover {
    color: #E59308;
}

.container-announcement1 {
    clear: both;
}

.container-announcement1,
.container-announcement2 {
    display: block;
    float: left;
    margin-top: 34px;
    margin-left: 30px;
    height: 336px;
    width: 546px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
    position: relative;
}

.container-announcement p1 {
    font-family: Montserrat, 'Mulish';;
    font-size: 19px;
    float: left;
    margin-left: 32px;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 0.4px;
    color: #252733;
    margin-top: 32px;
}

.container-announcement a {
    font-family: Montserrat, 'Mulish';
    text-decoration: none;
    font-size: 14px;
    float: right;
    margin-right: 32px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 0.4px;
    color: #59011E;
    /*line-height: 24px;*/
    margin-top: 40px;
}

/* Change color on hover */
.container-announcement a:hover {
    color: #E59308;
}

.container-table-officeassistantoverview {
    clear: both;
    width: 100%;
    hight: 100%;
    float: left;
    display: inline-block;
    margin-top: 25px;
    /*overflow: scroll;*/
    padding-right: 25px;
    padding-left: 25px;
    max-height: 458px;
    border-collapse: collapse;


}

.col1, col2 {
    font-family: Montserrat, 'Mulish';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: left;
}

.col1 {
    width: 378px;
    color: #252733;
}

.col2 {
    width: 80px;
    color: #9FA2B4;
}

.container-announcement td {
    height: 58px;
    width: fit-content;
    overflow: hidden; /* added */
    border-bottom: 1px solid #ddd;

}


.container-announcement-view {
    height: 20px;
    width: 74px;
    background-color: #FEC400;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

/*-------------------------------------------*/
/*             CREATE & UPDATE UI            */

/-------------------------------------------------/
    /*                   create/Update UI              */
.container-program {
    clear: both;
    display: block;
    float: left;
    margin-top: 57px;
    margin-left: 30px;
    height: auto;
    width: 1194px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
    position: relative;
}

.container-program p1 {
    font-family: Montserrat, 'Mulish';;
    font-size: 19px;
    float: left;
    margin-left: 32px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 0.4px;
    color: #252733;
    margin-top: 32px;
}

.container-table-program {
    clear: both;
    width: 1194px;
    hight: 100%;
    float: left;
    display: inline-block;
    margin-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
    border-collapse: collapse;
}

.col-itemname,
.col-inputbox {
    font-family: Montserrat, 'Mulish';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: left;
}

.col-itemname {
    width: 196px;
    color: #252733;
}

.col-inputbox {
    width: 912px;
    color: #9FA2B4;
}

.create-edit-inputbox {
    width: 912px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    padding-left: 30px;
}


.create-edit-inputbox::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.44px;
    color: rgba(0, 0, 0, 0.38);
}

.container-program td {
    height: 92px;
    width: fit-content;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}


/* Change color on hover */
.container-program tr:hover {
    background-color: #E59308;
}

.create-edit-btn {
    height: 48px;
    width: 265px;
    background-color: #59011E;
    color: white;
    padding: 14px;
    margin: 50px 450px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 500;


}


/*-------------------------------------------*/
/*                  Footer                   */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: #59011E;
    color: white;
    /*text-align: center;*/
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
}
