/*-------------------------------------------*/
/*                  Default                 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f1f1f1;
    height: 100vh;
    /*font-family: Montserrat, 'Mulish', 'Times New Roman';*/
}

/*@font-face {*/
/*    font-family: "Mulish";*/
/*    src: url("assets/Mulish-VariableFont_wght.ttf") format("truetype");*/
/*}*/


/*-------------------------------------------*/
/*                  Page Layout              */

/*Header*/
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: right;
}

/*Side Nav-Bar*/

/*1. The columns*/
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 93vh;
}

/* Left and right column */
.column.side {
    width: 15%;
    background-color: #840E35;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* Middle column */
.column.right {
    width: 85%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*2. The Nav Content*/
/* Style the pnav links */

.column.side img {
    padding-top: 20px;
    width: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column.side p {
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 17.22px;
    font-family: Montserrat;
    text-align: center;
}

.column.side a {
    display: block;
    color: #A4A6B3;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    /*font-family: Mulish;*/
    font-size: 16px;
}

.column.side i {
    padding-left: 0px;
    padding-right: 20px;
}

/* Change color on hover */
.column.side a:hover {
    background-color: #861A3F;
    color: #E59308;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}


/*-------------------------------------------*/
/*                  Page Content             */

.container {
    padding-top: 20px;
    min-height: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #DFE0EB;
    width: 100%;
    position: relative;

}

.container-title {
    font-family: Montserrat, 'Mulish';
    font-weight: bold;
    font-size: 19px;
    padding-left: 25px;
}

.container-heading {
    width: 100%;
    height: 70px;
    padding-right: 25px;
}

.container-action-btns {
    position: absolute;
    right: 25px;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat, 'Mulish';
    font-weight: bold;
    font-size: 11px;
    background-color: #59011E;
    margin: 4px 2px;
    cursor: pointer;
}

.container-table {

}

/*-------------------------------------------*/
/*                  Footer                   */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: #59011E;
    color: white;
    text-align: center;
    padding: 20px;
}
